﻿<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>SS - Telephone Book Extension -- Developments</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div role="main" class="container theme-showcase">
        <div class="" style="margin-top:30px; width:500px">
            <div class="col-lg-8">
                <div class="bs-component" ng-controller="mainController">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Search</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Enter Criteria">
                        </div>
                    </form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="30%"  >ชื่อ</th>
                                <th width="30%"  >ชื่อเล่น</th>
                                <th width="30%" >แผนก</th>
                                <th width="10%" >โทร</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="data in employeeData|orderBy:sortKey:reverse|filter:search|itemsPerPage:5" >
                                <td ><p> {{data.firstName}} </p></td>
                                <td style="padding-left:10px"><p> {{data.nickName}} </p></td>
                                <td><p> {{data.department}} </p></td>
                                <td><p> {{data.telephoneno}} </p></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <span ng-switch-when="0">Nothing was found</span>
                    <dir-pagination-controls max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
 
    <script src="js/angular.js"></script>
    <script src="js/dirpagination.js"></script>
    <script src="js/controller/maincontroller.js"></script>
</body>
</html>
